.container{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

    @include respond-to(desktop){
        justify-content: flex-start;
    }
}

.container-login{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.container-nombre-expediente{
    margin: 0 auto;
    width: 100%;
}

.container-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    @include respond-to(desktop){
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;
    height: 344px;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-self: start;
    align-items: center;
    }
    @include respond-to(tv){
        height: 523px;
    }
}