.body-expediente {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 8px;
  margin-right: 8px;
}

.container-expediente {
  margin-top: 3rem;
  width: 100%;
}

.header-expediente {
  border-radius: 15px 15px 0px 0px;
  background: linear-gradient(
    90deg,
    rgba(121, 108, 208, 0.3) 40.1%,
    rgba(254, 90, 134, 0.12) 90.63%
  );
}

.title-expediente {
  margin: 0;
  padding: 8px;
  color: $letter-1;
  font-family: "Baloo 2";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color:#5c4faa;
}

.input-expediente {
  border: 2px dashed $border-input;

  &:disabled {
    background-color: #f1f1f1;
  }
}

.input:disabled {
  background-color: #f1f1f1;
}

.viewMedicalData {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-MedicalData {
  width: 60%;
  color: $letter-1;
  text-align: center;
  font-family: "Baloo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.select-Data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.data-view-list {
  width: 530px;
  height: 218px;
  border-radius: 15px 0 0 15px;
  border: 2px solid rgba(15, 91, 142, 0.15);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 4px;

  overflow: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $letter-2;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: lighten($letter-2, 5);
  }
}

.view-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  border: 1px solid #0f5b8e;
  padding: 1px 5px;
}

.text-item {
  display: flex;
  gap: 15px;
}

.text-item-style {
  color: #0f5b8e;
  font-family: "Catamaran";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.icon-trash {
  color: #0f5b8e;
  transition: all ease-in-out 0.2s;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  margin-right: 0.5rem;
}

/* ---------- Medicacion ---------- */

.header-medicacion {
  border-radius: 15px 15px 0px 0px;
  background: rgba(254, 93, 55, 0.9);
}

.title-medicacion {
  text-align: center;
  margin: 0;
  padding: 8px;
  color: $blanco;
  font-family: "Baloo 2";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.viewMedicalData-Medicamentos {
  position: absolute;
  background-color: $blanco;

  top: 45%;
  right: 10%;

  z-index: 2;
}

.baby-container-medicacion-datos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.baby-name-container {
  margin: 20px auto 0 10px;

  border-radius: 15px;
  border: 1px solid $letter-1;
  background-color: #f6f6fa;

  padding: 10px 25px;

  width: fit-content;
  height: fit-content;
  z-index: 2;
}

.baby-name-container-salud {
  border-radius: 15px;
  border: 1px solid $letter-1;
  background-color: #f6f6fa;
  margin: 10px auto;
}

.baby-name {
  color: $letter-1;
  text-align: center;
  font-family: "Catamaran";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.name {
  font-size: 30px;
  font-weight: 700;
}



.baby-msg {
  width: 300px;
  padding: 5px 10px 5px 0px;
  color: #fe5d37;
  text-align: center;
  font-family: "Baloo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  /* 175% */
}


.placeholder-expediente {
  background-color: $blanco;
  color: $letter-4;
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
  font-size: 20px;
  left: 5px;
  line-height: 15px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 30%;
  transition: transform 200ms, color 200ms;
  top: -10px;
}

.button-expediente {
  font-family: "Baloo 2", sans-serif;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 15px;
  padding: 1rem;
  width: 20rem;
}

.button-expediente:focus {
  border: dashed 2px #314269;
}

.button-expediente:hover {
  cursor: pointer;
}

.button-expediente.diagnositoco {
  background-color: #f4d2de;
  color: #e4547d;
}

.button-expediente.alergias {
  background-color: #daeffe;
  color: #479dd8;
}

.button-expediente.diagnositoco.agregar{
  width: auto;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.button-expediente.alergias.agregar{
  width: auto;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  border-radius: 50%;
  margin-left: 1rem;
}


/*Estilso para el formulario para agregar padecimiento*/
.addAllergyContainer {
  font-family: "Baloo 2";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#7d7d9a66, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.addAllergyHeader {
  background: linear-gradient(
    90deg,
    rgba(126, 202, 253, 0.3) 42.19%,
    rgba(126, 202, 253, 0.12) 99.48%
  );
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.addAllergyHeader p {
  margin: 0;
  color: #357cac;
  font-weight: bold;
  font-size: 1.2rem;
}

.addAllergyContent {
  background-color: white;
  border-radius: 15px;
  position: relative;
  padding: 2rem;
  max-width: 40rem;
}


.addAllergyinformationTop {
  width: 100%;
  justify-content: space-between;
  border-bottom: dashed 2px #357cac;
}
.addAllergyTitle {
  color: $letter-1;
  font-family: "Catamaran";
  font-size: 1.3rem;
  font-weight: 400;
  margin-left: 1rem;
}

.addAllergySelect {
  width: 100%;
  height: 48px;
  border-radius: 5px;
  border: 1px solid #357cac;
  background-color: #fcfcfc;
  color: #357cac;
  padding: 5px;
  margin-bottom: 10px;
}

.addAllergyButtonsContainer{
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.addAllergyButton {
  padding: 0.5rem;
  margin-right: 2rem;
  width: 10rem;
  font-family: "Baloo 2";
  font-weight: bold;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  opacity: 0.9;
}

.addAllergyButton.add {
  background-color: #357cac;
}

.addAllergyButton.volver {
  background-color: #e4547d;
}

.addAllergyButton:hover {
  cursor: pointer;
  opacity: 1;
}

.addAllergyLabel{
  color: $letter-1;
  font-family: "Baloo 2";
  font-weight: normal;
}

.addAllergyInputFecha{
  color: $letter-1;
  font-family: "Catamaran";
  font-weight: 400;

  height: 2.4rem;
  border-radius: 5px;
  border: 1px solid #357cac;
  background-color: #fcfcfc;
  color: #357cac;
  padding: 5px;
}

.addAllergyInputFecha:focus{
  outline: none;
}



/*Estilso para el formulario para agregar padecimiento*/
.addDiagnosticContainer {
  font-family: "Baloo 2";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#7d7d9a66, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.addDiagnosticHeader {
  background: linear-gradient(
    90deg,
    rgba(#e4547d, 0.3) 42.19%,
    rgba(#e4547d, 0.12) 99.48%
  );
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.addDiagnosticHeader p {
  margin: 0;
  color: #e4547d;
  font-weight: bold;
  font-size: 1.2rem;
}

.addDiagnosticContent {
  background-color: white;
  border-radius: 15px;
  position: relative;
  padding: 2rem;
  max-width: 40rem;
}

.addDiagnosticTitle {
  color: $letter-1;
  font-family: "Catamaran";
  font-size: 1.3rem;
  font-weight: 400;
  margin-left: 1rem;
}

.addDiagnosticSelect {
  width: 100%;
  height: 48px;
  border-radius: 5px;
  border: 1px solid #e4547d;
  background-color: #fcfcfc;
  color: #e4547d;
  padding: 5px;
  margin-bottom: 10px;
}

.addDiagnosticButtonsContainer{
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.addDiagnosticButton {
  padding: 0.5rem;
  margin-right: 2rem;
  width: 10rem;
  font-family: "Baloo 2";
  font-weight: bold;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  opacity: 0.9;
}

.addDiagnosticButton.add {
  background-color: #e4547d;
}

.addDiagnosticButton.volver {
  background-color: #479dd8;
}

.addDiagnosticButton:hover {
  cursor: pointer;
  opacity: 1;
}

.addDiagnosticLabel{
  color: $letter-1;
  font-family: "Baloo 2";
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.addDiagnosticInputFecha{
  color: $letter-1;
  font-family: "Catamaran";
  font-weight: 400;
  width: 97%;
  height: 2.4rem;
  border-radius: 5px;
  border: 1px solid #e4547d;
  background-color: #fcfcfc;
  color: #e4547d;
  padding: 5px;
}

.addDiagnosticInputFecha:focus{
  outline: none;
}

.addDiagnosticinformationTop {
  width: 100%;
  justify-content: space-between;
  border-bottom: dashed 2px #e4547d;
}

@media (max-width:768px) {
  .body-expediente {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }

  .name {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .baby-name {
    font-size: 1rem;
  }

  .title-expediente {
    font-size: 1.5rem;
    font-style: normal;
  }
  
  .container-expediente-data{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .description-MedicalData {
    width: 90%;
    font-size: 1rem;
  }

  .button-expediente {
    font-size: 1rem;
    border-radius: 15px;
    width: 10rem;
    padding: 0.5rem;
  }

  .data-view-list {
    width: 95%;
    height: 218px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 4px;

    border-radius: 15px;
  
    overflow: auto;
  }

  .viewMedicalData {
    margin-top: 2rem;
    border-top: dashed 2px #5c4fba;
  }

  .addAllergyContainer{
    z-index: 9;
  }

  .addAllergyContent{
    width: 80%;
  }

  .addAllergyTitle {
    font-size: 1rem;
  }

  .addDiagnosticContainer{
    z-index: 9;
  }

  .addDiagnosticContent{
    width: 80%;
  }

  .addDiagnosticTitle {
    font-size: 1rem;
  }

  .text-item-style {
    font-size: 1rem;
  }
}