.home-flex-container {
  display: flex;
  padding: 2rem;
}

.home-text {
  flex: 1;
  font-family: "Baloo 2";
  font-style: normal;
  line-height: normal;
  color: $letter-1;
  padding: 4rem;
}

.home-logo {
  font-weight: bold;
  font-size: 2rem;
}

.home-blue-text {
  color: $lb-1;
}

.home-parrafo {
  font-size: 1.3rem;
}

.home-logo {
  color: $letter-1;
}

.home-img-container {
  flex: 1;
  max-width: 40%;
}

.home-img {
  max-width: 100%;
}

.home-container-enlaces {
  display: flex;
  justify-content: space-between;
  max-width: 60%;
}

.home-enlace {
  color: $letter-2;
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.3rem;
}

.home-decoracion{
  position: relative;
  padding: 1rem;
}

.home-nave-espacial{
  position: absolute;
  top: -5rem;
  left: -3rem;
}

@media (max-width: 767px) {
  .home-flex-container {
    flex-direction: column;
    padding: 0rem;
    align-items: center;
  }

  .home-text {
    padding: 1rem;
    text-align: justify;
  }

  .home-logo {
    font-size: 1.5rem;
  }
  
  .home-parrafo {
    font-size: 1rem;
  }

  .home-decoracion{
    width: 15%;
  }

  .home-nave-espacial{
    width: 100%;
    top: -3rem;
    left: 0rem;
  }

  .home-container-enlaces {
    max-width: 100%;
  }

  .home-enlace {
    font-size: 0.9rem;
  }

  .home-img-container {
    margin-top: 1.5rem;
    max-width: 90%;
  }
  
  .home-img {
    max-width: 100%;
  }
  
}