.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn {
  width: 98px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #fea7cb;
  background: rgba(254, 167, 203, 0.6);

  color: $blanco;
  font-family: "Baloo 2", cursive;
  font-weight: 700;
  font-size: 18px;
}

.btn-inicio {
  width: 134px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #fea7cb;
  background: rgba(254, 167, 203, 0.6);

  color: $blanco;
  font-family: "Baloo 2", cursive;
  font-weight: 700;
  font-size: 18px;

  &:hover {
    background-color: darken($color: rgba(254, 167, 203, 0.6), $amount: 15);
  }
}
.btn-registro {
  width: 134px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #796cd0;
  background: rgba(121, 108, 208, 0.6);
  color: $blanco;
  font-family: "Baloo 2", cursive;
  font-weight: 700;
  font-size: 18px;

  &:hover {
    background-color: darken($color: rgba(121, 108, 208, 0.6), $amount: 15);
  }
}

.contenedor-botones{
    display: flex;
    align-items: center;
  }

.contenedor-botones-derecha{
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

/* Estilos generales */
.container-img {
  width: 100%;
  height: 53px;
}

.container-logo {
  text-align: center;
  width: 100%;
  height: 94px;
  background-color: $blanco;
}

.img,
.img-logo {
  margin: 0;
  height: 100%;
}

.img {
  width: 100%;
  object-fit: cover;
}

.img-efecto-nube {
  width: 100%;
}

.header {
  background-color: #ffff;
  height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 1;
}

.nav {
  color: #e24a75;
  background-color: #fff2f5;
  position: relative;
  padding: 10px;
  z-index: 999;
}

.nav-link {
  font-family: "Baloo 2";
  color: #e24a75;
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold;
  font-size: x-large;
  padding: 1rem;
  border-radius: 15px;
}
.nav-link:hover {
  color: #c51f4d !important;
  background-color: #ffd3dd !important;
}
.nav-link:active {
  background-color: #ffd3dd !important;
}

.nav-menu {
  justify-content: center;
  display: flex;
  list-style: none;
}

.nav-munu-item {
  font-weight: 200;
  font-size: 18px;
  margin: 0 30px;
  width: max-content;
}
.nav-munu-item:hover {
  cursor: pointer;
}

/* Estilos para el menú hamburguesa */
.nav-toggle {
  background: none;
  border: none;
  color: #e24a75;
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
  transition: 0.3s;
}
.nav-toggle:hover {
  cursor: pointer;
  color: #c51f4d !important;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 1280px) {
  .header {
    height: auto;
  }
  .nav {
    padding-left: 0;
  }
  .nav-munu-item {
    font-size: 20px;
    line-height: 40px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: #faf9ff;
    padding: 0;
    width: 100%;
    top: 190px;
    height: calc(100%);
    overflow-y: auto;
    right: 100%;
    transition: right 0.3s;
  }

  .nav-link {
    font-family: "Baloo 2";
    color: #4f439a;
    text-decoration: none;
    transition: 0.3s;
    padding: 0rem;
    border-radius: 0px;
  }
  .nav-link:hover {
    color: #c51f4d !important;
    background-color: transparent !important;
  }
  .nav-link:active {
    background-color: transparent !important;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu-visible {
    right: 0;
    top: 190px;
  }

  .container-img {
    width: 100%;
  }

  .img-logo {
    margin-top: 1.2rem;
    width: 50%;
    height: auto;
  }

  .img-efecto-nube {
    display: none;
  }
}
