.NS-flex-container {
  display: flex;
  padding: 2rem;
}

.NS-img-container {
  flex: 1;
  max-width: 40%;
}

.NS-img {
  max-width: 100%;
}

.NS-text {
  flex: 1;
  font-family: "Baloo 2";
  font-style: normal;
  line-height: normal;
  padding: 4rem;
}

.NS-titulo {
  font-weight: bold;
  font-size: 2rem;
  color: $letter-2;
  text-transform: uppercase;
}

.NS-parrafo {
  font-size: 1.3rem;
  color: $letter-1;
}

.NS-buscar-container {
  display: flex;
  align-items: center;
}

.NS-input {
  width: 30rem;
  padding: 0.7rem;
  margin-right: 1rem;
  border-radius: 5px;
  border: solid 1px $letter-1;
}

.NS-input:focus {
  outline: none;
}

.NS-icon {
  color: $lb-2;
  font-size: 2rem;
}

.NS-button {
  background-color: transparent;
  border: none;
}

.NS-button:hover {
  cursor: pointer;
}

.NS-resultado-container {
  background-color: rgba($lb-4, 0.1);
  padding: 1rem;
  margin-top: 2rem;
  width: 90%;
}

.NS-resultado {
  color: $letter-1;
  font-size: 1.2rem;
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 250;
  line-height: normal;
}
