.profile-container {
  margin-left: auto;
  margin-right: auto;
  width: 1103px;
  height: 731px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px dashed #6359a6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.profile-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 1062px;
  height: 81px;
  flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
  background: linear-gradient(90deg,
      rgba(121, 108, 208, 0.3) 40.1%,
      rgba(254, 90, 134, 0.12) 90.63%);

  .custom-icon-profile {
    margin-left: 20px;
    font-size: 54px;
    color: #4f439a;
  }

  .text-profile {
    margin-left: 20px;
    color: #4f439a;
    font-family: "Baloo 2";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .profile-role {
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 336px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #fe5a86;
    background: rgba(254, 90, 134, 0.05);
    margin-left: auto;

    h3 {
      color: #fe5a86;
      font-family: "Baloo 2";
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
  }
}

.information-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.isInputEditable {
  width: 100%;
  height: 38.492px;
  border-radius: 5px;
  border: 1px dashed #4f439a;
  font-family: "Baloo 2";
  background: rgba(121, 108, 208, 0.05);
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
  color: #4f439a;
}

.personal-information {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 336px;

  label {
    color: #4f439a;
    font-family: "Baloo 2";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }

  .input-modify {
    width: 100%;
    height: 38.492px;
    border-radius: 5px;
    border: 1px dashed #4f439a;
    background: rgba(121, 108, 208, 0.05);
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    font-family: "Baloo 2";
    color: #4f439a;
    
  }

  .modify {
    width: 100%;
    height: 45px;
    border-radius: 15px;
    border: 1px dashed #4f439a;
    border-color: rgba(92, 79, 170, 0.1);
    background: rgba(92, 79, 170, 0.1);
    color: #5c4faa;
    text-align: center;
    font-family: "Baloo 2";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
}

.son-information {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 336px;

  label {
    color: #4f439a;
    font-family: "Baloo 2";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }

  .sons {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #4f439a;
    background-color: #fcfcfc;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .sons-text {
    font-family: "Baloo 2";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }

  .sons-text-orange {
    color: #fe5d37;
    font-family: "Baloo 2";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
  
  

  .btn-galery,
  .btn-expedient,
  .btn-baby-code {
    margin-top: 10px;
    width: 100%;
    height: 47px;
    text-align: center;
    font-family: "Baloo 2";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  .btn-galery {
    color: #fe5d37;
    border-color: rgba(254, 93, 55, 0.15);
    background: rgba(254, 93, 55, 0.15);
  }

  .btn-expedient {
    color: #e89811;
    border-color: rgba(239, 154, 12, 0.25);
    background: rgba(239, 154, 12, 0.25);
  }

  .btn-baby-code {
    color: #253962;
    border-color: #2539621a;
    background: #2539621a;
  }
}

.personal-information-container {
  width: 50%;
  margin-right: 80px;
}

.son-information-container {
  width: 50%;
}

.administrative-panel {
  width: 1062px;
  height: 146px;
  border-radius: 15px;
  background: rgba(62, 178, 255, 0.05);
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: #253962;
    text-align: center;
    font-family: "Baloo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }

  .family-admin,
  .add-baby {
    width: 278.849px;
    height: 45px;
    border-radius: 15px;
    text-align: center;
    font-family: "Baloo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .family-admin {
    background: rgba(126, 202, 253, 0.25);
    color: #479dd8;
    border-color: rgba(126, 202, 253, 0.25);
  }

  .add-baby {
    color: #e4547d;
    border-color: rgba(228, 84, 125, 0.25);
    background: rgba(228, 84, 125, 0.25);
  }
}

.rainbow-decoration {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0px, 700px);
}

.rainbow-decoration img {
  height: 100%;
}


.input-modify[readonly] {
  border: 1px dashed #4f439a;
  background-color: #f0f0f0;
  font-family: "Baloo 2";
}

.save,
.cancel {
  margin-top: 10px;
  width: 100%;
  height: 47px;
  text-align: center;
  font-family: "Baloo 2";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 15px;
  margin-bottom: 10px;
}

.save {
  color: #0e7913;
  border-color: rgba(168, 247, 138, 0.25);
  background: rgba(168, 247, 138, 0.25);
}

.cancel {
  color: #e4547d;
  border-color: rgba(228, 84, 125, 0.25);
  background: rgba(228, 84, 125, 0.25);
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  z-index: 9999;
  display: flex;
  justify-content: center;
}

.alert.success {
  background-color: #28a745;
}

.alert.error {
  background-color: #dc3545;
}

/* Estilos para ventana emergente de compartir el codigo bebe*/
.sendBabyCodeContainer {
  font-family: "Baloo 2";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#7d7d9a66, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sendBabyCodeHeader {
  background-color: #4d4298;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.sendBabyCodeHeader p {
  margin: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
}

.sendBabyCodeContent {
  background-color: white;
  border-radius: 15px;
  position: relative;
  padding: 2rem;
  max-width: 40rem;
}

.sendBabyCodeButton {
  padding: 0.5rem;
  margin-bottom: 2rem;
  width: 10rem;
  font-size: 1.2rem;
  font-family: "Baloo 2";
  font-weight: bold;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  opacity: 0.9;
}

.sendBabyCodeButton.return {
  background-color: #fff7f5;
  color: #fe5d37;
  border: none;
  width: 100%;
}

.sendBabyCodeButton.send {
  background-color: #efedf7;
  color: #5c4faa;
  border: none;
  width: 100%;
}

.sendBabyCodeButton:hover {
  cursor: pointer;
  opacity: 1;
}

.sendBabyCodeFlexContainer {
  display: flex;
  flex-direction: column;
}

.sendBabyCodeInput {
  font-family: "Baloo 2";
  padding: 0.5rem;
  font-size: 1.5rem;
  border: 2px dashed $purple;
  border-radius: 5px;
  background-color: #f8f8fd;
  color: $purple;
  margin-bottom: 1.5rem;
  width: 20rem;
  max-width: 20rem;
}

.sendBabyCodeInput:focus {
  outline: none;
}

.sendBabyCodeBabieName {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  color: $purple;
  text-align: center;
  margin-bottom: 0.5rem;
}


.submit-sendEmail:hover {
  cursor: pointer;

}

.submit-disabled-sendEmail:hover {
  cursor: not-allowed;
}

@media only screen and (max-width: 768px) {
  .profile-container {
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: none;
    padding: 0;
    height: auto;
    
  }

  .rainbow-decoration{
    display: none;
  }

  .profile-card {
    flex-direction: column;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    border-radius: 0;
    background: none;
  }

  .profile-card .custom-icon-profile {
    margin-left: 0 auto;
    margin-right: 0  auto;
  }

  .profile-card .text-profile {
    margin-left: 0 auto;
    margin-right: 0  auto;
  }

  .profile-card .profile-role {
    width: 100%;

    h3 {
      font-size: 24px;
    }
  }

  .information-container {
    flex-direction: column;
  }
  

  
  .modify,
  .isInputEditable,
  .input-modify,
  .sons,
  .btn-galery,
  .btn-expedient,
  .btn-baby-code,
  .family-admin,
  .add-baby,
  .input-modify[readonly],
  .save,
  .cancel,
  .sendBabyCodeInput {
    width: 100%;
    max-width: 100%;
    font-family: "Baloo 2";
    
  }

  .modify,
  .input-modify[readonly],
  .input-modify{
    max-width: 80%;
    font-family: "Baloo 2";
  }
  
  .son-information-container,
  .son-information,
  .personal-information
  {
    text-align: center;
    margin-left: auto;
    margin-right:  auto;
  }

  .personal-information-container,
  .son-information-container,
  .administrative-panel {
    width: 100%;
    margin-left: auto;
    margin-right:  auto;
  }
  
}
