.sliderContainer {
  margin-top: 2rem;
  display: flex;
  padding: 2em;
  align-items: center;
}

.sliderItem {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.sliderImgContainer {
  flex: 1;
  max-width: 100%;
  padding: 1rem;
}

.sliderImage {
  width: 100%;
  border-radius: 20px;
  
}

.sliderContent {
  flex: 1;
  padding: 2rem;
}

.sliderTitle {
  color: $letter-2;
  font-family: "Baloo 2";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.sliderText {
  color: $letter-1;
  font-family: "Baloo 2";
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sliderButton {
  background-color: transparent;
  border: none;
}

.sliderButton:hover {
  cursor: pointer;
}

.sliderButtonIcon {
  font-size: 3rem;
  color: $purple;
}


@media (max-width: 767px) {
  .sliderContainer {
    margin: 1rem;
    padding: 0rem;
    border-radius: 5px;
    background: #fff;
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.25);
  }
  .sliderItem {
    display: flex;
    flex-direction: column;
    padding: 0rem;
  }
  .sliderContent {
    padding: 0rem;
    text-align: center;
  }
  .sliderText {
    font-size: 1rem;
    text-align: justify;
  }
  .sliderTitle {
    font-size: 1.5rem;
  }
  .sliderImageContainer {
    max-width: 100%;
  }
  .sliderImage {
    width: 100%;
  }
  .sliderButtonIcon {
    font-size: 2rem;
  }
}