$blanco: #fcfcfc;
$letter-1: #253962;
$letter-2: #e24a75;
$letter-3: #fff2f5; 
$lb-1: #7FCDFC;
$lb-2: #479DD8;
$lb-3: #7ECAFD; 
$lb-4: #A9DCFF;
$purple: #6055A4; 
$orange: #FB5D3B;
$menu-lateral: #F4F9FD;

