$blanco: #fcfcfc;
$letter-1: #253962;
$letter-2: #e24a75;
$letter-3: #fff2f5;
$letter-4: #4F439A;
$lb-1: #7FCDFC;
$lb-2: #479DD8;
$lb-3: #7ECAFD; 
$purple: #6055A4; 
$orange: #FB5D3B;
$menu-lateral: #F4F9FD;
$border-input: #4F439A;
$border-purple: #786ACF;

@mixin respond-to($breakpoint) {
    @if $breakpoint ==tablet {
        @media (min-width: 768px) {
            @content;
        }
    }
    
    @else if $breakpoint ==desktop {
        @media (min-width: 968px) {
            @content;
        }
    }

    @else if $breakpoint == tv{
        @media (min-height: 900px){
            @content;
        }
    }

    @else if $breakpoint == telefono{
        @media (max-width: 968px) {
            @content;
        }
    }

    @else {
        @error "Breakpoint '#{$breakpoint}' not defined.";
    }
}

