@import '../sass/Variables';
@import '../sass/Navbar';
@import "../sass/container";
@import '../sass/MenuLateral';
@import '../sass/Table';
@import '../sass/footer';
@import '../sass/loginUser';
@import '../sass/RegisterParent';
@import '../sass/RegisterBaby';

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&family=Catamaran:wght@400;500;600;700&display=swap');


html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text-center{
    text-align: center;
}