@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&family=Catamaran:wght@400;500;600;700&display=swap");
.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn {
  width: 98px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #FEA7CB;
  background: rgba(254, 167, 203, 0.6);
  color: #fcfcfc;
  font-family: "Baloo 2", cursive;
  font-weight: 700;
  font-size: 18px;
}

.btn-inicio {
  width: 134px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #FEA7CB;
  background: rgba(254, 167, 203, 0.6);
  color: #fcfcfc;
  font-family: "Baloo 2", cursive;
  font-weight: 700;
  font-size: 18px;
}

.btn-registro {
  width: 134px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #796CD0;
  background: rgba(121, 108, 208, 0.6);
  color: #fcfcfc;
  font-family: "Baloo 2", cursive;
  font-weight: 700;
  font-size: 18px;
}

.container-img {
  width: 100%;
  height: 53px;
}

.container-logo {
  text-align: center;
  width: 100%;
  height: 94px;
  background-color: #fcfcfc;
}

.img {
  margin: 0;
  width: 100%;
  height: 100%;
}

.img-logo {
  margin: 0;
  height: 100%;
}

.img-efecto-nube {
  width: 100%;
}

nav {
  background-color: #fff2f5;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 25px;
  font-weight: 600;
  line-height: normal;
  font-family: "Baloo 2", cursive;
  color: #e24a75;
}

.item {
  list-style-type: none;
}

.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container-register {
  margin: 0 auto;
  width: 90%;
  height: 344px;
  display: grid;
  grid-template-columns: 40% 60%;
  justify-self: start;
  align-items: center;
}
@media (min-height: 900px) {
  .container-register {
    height: 523px;
  }
}

.menu-lateral {
  width: 323px;
  height: 876px;
  flex-shrink: 0;
  background-color: #F4F9FD;
}

.flex-table-menu {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.table {
  width: 70%;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 5px 30px 0px #EAF6F9;
}

.header-table {
  display: flex;
  align-items: center;
  color: #E24A75;
  font-size: 25px;
  font-family: "Baloo 2", cursive;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  height: 88px;
  border-radius: 15px 15px 0px 0px;
  background: #FFF2F5;
}

.title-table {
  margin-left: 31px;
}

footer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  color: #253962;
  text-align: center;
  font-family: "baloo 2", cursive;
  font-weight: 700;
}

.c-login {
  border-radius: 15px 15px 0 0;
  width: 550px;
  padding-bottom: 30px;
  flex-shrink: 0;
  color: #253962;
  background-color: rgba(79, 67, 154, 0.05);
}

.c-login-header {
  padding: 6px 0;
  border-radius: 15px 15px 0 0;
  color: #4F439A;
  background-color: rgba(121, 108, 208, 0.3);
  font-size: 40px;
  text-align: center;
  font-family: "Baloo 2", cursive;
  font-weight: 700;
}

.c-login-body {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Clases para campos de formulario */
.input-container {
  height: 40px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 20px;
}

.input {
  background-color: #fcfcfc;
  border-radius: 5px;
  border: 1px solid #4F439A;
  box-sizing: border-box;
  color: #253962;
  font-size: 18px;
  height: 40px;
  padding: 4px 10px 0;
  width: 100%;
}

.input:not(:-moz-placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  background-color: #fcfcfc;
  color: #253962;
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
  font-size: 30px;
  left: 0px;
  line-height: 15px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 30%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:not(:-moz-placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:-moz-placeholder-shown) ~ .placeholder {
  color: #4F439A;
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #4F439A;
}

.input:focus ~ .placeholder {
  color: #18152f;
}

/* boton de login */
.submit {
  width: 80%;
  padding: 4px 0;
  color: #fcfcfc;
  background-color: rgba(255, 158, 198, 0.9);
  border: none;
  border-radius: 26px;
  font-family: "Baloo 2", cursive;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: normal;
}

.submit-2 {
  background: linear-gradient(90deg, rgba(79, 67, 154, 0.9) 0%, rgba(105, 85, 228, 0.9) 100%);
}

.text-option {
  color: #4F439A;
  font-size: 20px;
  font-weight: 400;
  font-family: "Catamaran", sans-serif;
  line-height: normal;
}
.text-option:first-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
}
.text-option:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.option {
  font-weight: 700;
}
.option:hover {
  color: #342c65;
  cursor: pointer;
}

.divider {
  width: 90%;
  border-bottom: 2px dashed #4F439A;
}

.container-img-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100%;
}

.img-padres-1 {
  width: 342px;
  height: 343px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 30px;
  border: 2px dashed #FB5D3B;
  border-radius: 50%;
}

.sun-sticker {
  position: relative;
  top: 45px;
  left: 95px;
}

.img-padres-2 {
  width: 342px;
  height: 343px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 30px;
  border-radius: 50%;
  border: 2px dashed #786ACF;
}

.img-boy {
  position: absolute;
  bottom: 0;
}
@media (min-height: 900px) {
  .img-boy {
    height: 40%;
  }
}

.img-cloud-bg {
  position: absolute;
  top: 250px;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 0;
}
@media (min-height: 900px) {
  .img-cloud-bg {
    width: 100%;
    height: 440px;
    top: 280px;
    left: 0;
  }
}

.form-register {
  grid-column: 2/4;
  grid-row: 1/3;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}

.title-register {
  grid-column: 1/3;
  grid-row: 1/2;
  color: #479DD8;
  font-family: "baloo 2", cursive;
  font-weight: 700;
  font-size: 50px;
  line-height: normal;
  text-transform: uppercase;
}

.submit-register {
  font-size: 20px;
  background-color: #7ECAFD;
  border-radius: 36px;
  width: 25%;
}

.width-50 {
  width: 40%;
}
@media (min-height: 900px) {
  .width-50 {
    width: 50%;
  }
}

.flex-register {
  gap: 10px;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=base.css.map */